# Virtual environments
.venv/
env/
venv/

# Environment variables / secrets
.env
*.env

# Database files
*.db

# Audio files
*.wav

# Model weights
*.pth
*.pt

# IDE
.vscode/
.idea/

# Python
__pycache__/
*.pyc
*.log
.DS_Store
*.egg-info/
build/
dist/

output/